<ion-header [translucent]="true">
  <ion-toolbar class="hh">
    <ion-title style="color: white;">

      <table>
        <tr>
          <td>
            <ion-button fill="clear" (click)="back()"><ion-icon name="caret-back-outline" style="color: white;"></ion-icon></ion-button>
          </td>
          <td><span class="crs">CRS</span></td>
          <td></td>
        </tr>
      </table>

      


    </ion-title>
  </ion-toolbar>
</ion-header>



 




  <ion-content [fullscreen]="true" class="ion-padding">
    <h1><b>Ran out of fuel while driving</b></h1>
    <ul>
      <li> If you want to search for the nearest ADNOC stations around you kindly press the button below:</li>
    </ul>

   <div class="center">
  <ion-button class="rr" fill="clear" (click)="nearstAdnoc()">Route to nearst ADNOC station</ion-button>
</div>

<hr>
    <h1><b>Overheating:</b></h1>
    <p>Solution:</p>
    <ion-button  class="rr" fill="clear"  (click)="toggleDropdown(2)">Show Steps</ion-button>
    
    <ion-list *ngIf="showDropdown === 2">
      <ion-item>
        <ion-label>
          <h2>Step 1</h2>
          <p>Stop the car and turn off the engine immediately.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 2</h2>
          <p>Allow the engine to cool down before opening <br>the hood.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 3</h2>
          <p>Check the coolant level and top it up if <br>necessary.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 4</h2>
          <p>If the problem persists, consult a mechanic for <br>further inspection.</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
<hr>

    <h1><b>Flat tyre:</b></h1>
    <p>Solution:</p>
    <ion-button  class="rr" fill="clear"  (click)="toggleDropdown(3)">Show Steps</ion-button>
    
    <ion-list *ngIf="showDropdown === 3">
      <ion-item>
        <ion-label>
          <h2>Step 1</h2>
          <p>Find a safe location and park the car.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 2</h2>
          <p>Locate the spare tyre, jack, and lug wrench.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 3</h2>
          <p>Jack up the car and remove the flat tyre.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 4</h2>
          <p>Replace it with the spare tyre and tighten <br>the lug nuts.</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
<hr>

    <h1><b>Cruise control failure:</b></h1>
    <p>Solution:</p>
    <ion-button  class="rr" fill="clear"  (click)="toggleDropdown(4)">Show Steps</ion-button>
    
    <ion-list *ngIf="showDropdown === 4">
      <ion-item>
        <ion-label>
          <h2>Step 1</h2>
          <p>Check if the cruise control switch is turned on.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 2</h2>
          <p>Ensure that the speed control sensors are <br>clean and functioning.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 3</h2>
          <p>Check the fuse related to the cruise control <br>system.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 4</h2>
          <p>If the problem persists, have the cruise <br>control system checked by a professional.</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <hr>
    
    <h1><b>Key stuck in the ignition:</b></h1>
    <p>Solution:</p>
    <ion-button  class="rr" fill="clear"  (click)="toggleDropdown(5)">Show Steps</ion-button>
    
    <ion-list *ngIf="showDropdown === 5">
      <ion-item>
        <ion-label>
          <h2>Step 1</h2>
          <p>Make sure the car is in "Park" or the correct<br> gear.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 2</h2>
          <p>Try turning the steering wheel left and right<br> while gently turning the key.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 3</h2>
          <p>Apply a small amount of lubricant to the key <br>and ignition switch.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 4</h2>
          <p>If all else fails, contact a locksmith or your <br>car manufacturer for assistance.</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <hr>

    <h1><b>Car stuck in scenarios such as mud, sand, etc.</b></h1>
    <p>Solution:</p>
    <ion-button  class="rr" fill="clear"  (click)="toggleDropdown(6)">Show Steps</ion-button>
    
    <ion-list *ngIf="showDropdown === 6">
      <ion-item>
        <ion-label>
          <h2>Step 1</h2>
          <p>Assess the situation and determine the best<br> course of action.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 2</h2>
          <p>If possible, try rocking the car back and forth <br>by shifting between drive and reverse.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 3</h2>
          <p>Use traction mats or boards to provide grip<br> under the wheels.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Step 4</h2>
          <p>If unable to free the car, call for professional <br>towing assistance.</p>
        </ion-label>
      </ion-item>
    </ion-list>





<br>
    <p class="center">&copy; 2023 CRS Inc. All Rights Reserved</p>
</ion-content>
