

  .hh{
    --background: #c90404 !important;
  }

  .rr{color: #c90404; border: solid thin; border-radius: 25pt;}

  .rr:hover{color: white; background-color: #c90404;}

  .crs{display: grid; justify-items:center;}

  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  hr {background-color: gray;}

  .textt {text-align: center; color: white; font-weight: bold;padding-top: 20%;}

  .roww { background-color: #c90404; border-top-right-radius: 30%; border-bottom-right-radius: 30%;}

  .roww2 {background-color: #c90404; border-top-left-radius: 30%; border-bottom-left-radius: 30%;}